<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{index :: head}"></head>
<body>

    <head th:insert="~{index :: navbar}"></head>

    <div class="vh-100">
        <br /><br /><br />
        <div class="container">
            <div class="row col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Registration</h2>
                    </div>
                    <div th:if="${param.success}">
                        <div class="alert alert-info">
                            You have succesfully registered our app!
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">

                            <div class="form-group mb-3">
                                <label class="form-label">First Name</label>
                                <input type="text" class="form-control" th:field="*{firstName}" id="firstName" name="firstName" placeholder="Enter first name" />
                                <p th:errors="*{firstName}" class="text-danger" th:if="${#fields.hasErrors('firstName')}"></p>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">Last Name</label>
                                <input type="text" class="form-control" th:field="*{lastName}" id="lastName" name="lastName" placeholder="Enter last name" />
                                <p th:errors="*{lastName}" class="text-danger" th:if="${#fields.hasErrors('lastName')}"></p>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control" th:field="*{email}" id="email" name="email" placeholder="Enter email" />
                                <p th:errors="*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}"></p>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control" th:field="*{password}"  id="password" name="password" placeholder="Enter password"/>
                                <p th:errors="*{password}" class="text-danger" th:if="${#fields.hasErrors('password')}"></p>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Register</button>
                                <span>Already registered? <a th:href="@{/login}">Login here</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <head th:insert="~{index :: footer}"></head>
    <script th:replace="~{index :: bootstrapScript}"></script>
    
</body>
</html>